
html, body, #root, .App {
  min-height: 100vmin;
}


body{
  font-family: 'Josefin Sans', sans-serif;
}




a:link  {
  text-decoration: none!important;
  color: inherit;
  display:inline-block;
}

a:visited {
  color: #4BC0C0;
}


.App {
  background-color: #282c34;

  color: white;
}

.page-title-row {
  padding-bottom: 25px
}

.page-title{
  font-size: calc(10px + 2vmin);
  padding: 25px 0px 0px 25px;
}

.title-row {
  padding-bottom: 25px
}


.title-text {

  font-size: calc(10px + 2vmin);

  margin-right: 200px;


}




.box {
  margin-top: 25px;
  border: 1px solid;
  border-radius: 25px;
  padding: 50px;
}

.sidebar-box {
  
  margin-top: 25px;
  border: 1px solid;
  border-radius: 10px;
  padding: 50px;
}




.table {
  padding-bottom: 100px
}



.summary .title-name{
font-size: calc(10px + 2vmin);

}

.summary .title-num{
  font-size: calc(10px + 2vmin);
  color: #4BC0C0;
  letter-spacing: 0.8px;

}

.summary .sub-title{
  font-size: calc(5px + 1vmin);
  overflow: hidden;
  white-space: nowrap;
}

.summary .sub-num{
  font-size: calc(8px + 1vmin);
  letter-spacing: 1.1px;
  color: #4BC0C0;
}

.details .sub-num{
  font-size: calc(8px + 2vmin);
  letter-spacing: 0.5px;
  color: #4BC0C0;
}


.details .date-row {

  margin-bottom: 50px;
}

.details .date {
  font-size: calc(2px + 2vmin);
}

.toggle{
  text-align: right;
}

.with-margin {
  margin-top: 35px;
}

.posts{
  padding: 20px 10px;
  margin-bottom: 20px;

}

.posts:hover {
  border: 1px white solid;
}

.post-title{
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 570px) {
  .panel-title-left{
  
    padding-left: 20px;
    padding-top: 20px;
    border-left: 3px solid #CED0D2;
    border-top: 3px solid #CED0D2;
  
  }
  .panel-title-right{
    color: #282c34;
    padding-right: 5px;
    padding-bottom: 5px;
    border-right: 3px solid #CED0D2;
    border-bottom: 3px solid #CED0D2;
  
  }
  .page-title{
    font-size: calc(10px + 2vmin);
    padding: 50px 0px 25px 110px;
  }
  .summary .sub-title{
    font-size: calc(5px + 2vmin);
    overflow: hidden;
    white-space: nowrap;
  }
  .summary .sub-num{
    font-size: calc(8px + 2vmin);
    letter-spacing: 1.1px;
    color: #4BC0C0;
  }
  .panel{
    padding-bottom: 50px
  }
  .details .date {
    font-size: calc(10px + 2vmin);
    text-align: center;
    padding-bottom: 25px;
  }
  .date-row{
    text-align: center;
  }
  .box{
    border: none;
    padding: 15px;
  }
  .toggle{
    text-align: none;
  }
}
